.invite-list {

  .el-checkbox-group {
    height: 300px;
    overflow: scroll;
    margin: 25px 0px 40px;

    .el-checkbox-button {
      width: 100%;
    }

    .el-checkbox-button__inner {
      width: 100%;
      margin: 0 auto;
      padding: 0;
    }

  }

}