.dialog {
  line-height: normal;

  .el-dialog--tiny {
    width: 470px;
  }

  .el-dialog__header {
    text-transform: uppercase;
    color: slategray;
    font-size: small;
    margin: 12px 0px 10px 10px;

    img{
      margin-bottom: 3px;
    }
  }
  .el-dialog__body {
    padding: 25px 16px;
  }

  .dialog-footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .input-wrapper {
    border: 1px solid lightgray;
    margin-bottom: 16px;
    border-radius: 5px;
    padding: 10px;

    label {
      color: slategray;
    }

    .el-select {
      width: 100%;
    }

    input {
      border: none;
      width: 100%;
      background: transparent;
      font-size: large;   
      padding: 0;

      &:focus {
        outline: 0;
      }

      &::placeholder {
        color: lightgray;
      }
    }



  }

  .platform {
    border: none;

    .el-checkbox-group {
      display: flex;
      width: 100%;
      justify-content: space-around;
      margin-top: 15px;
    }

    span {
      border: none;
      border-left: none !important;
    }
  }
}