.input-wrapper {
  border: 1px solid $border-gray;
  margin-bottom: 16px;
  border-radius: 5px;
  padding: 10px;

  label {
    color: $label-gray;
  }

  .el-select {
    width: 100%;
  }

  input {
    border: none;
    width: 100%;
    background: transparent;
    font-size: large;   
    padding: 0;

    &::placeholder {
      color: $placeholder-light-gray;
    }
  }
}

.upload-tip {    
  margin-left: 5px;
  color: $label-gray;
  font-size: smaller;
  font-style: italic;
  font-weight: lighter;
}

.upload-input {
  padding-top: 10px;
  display: flex;
  align-items: center;

  &__btn {
    padding-top: 2px;
    text-transform: uppercase;
    font-size: smaller;
    color: $icon-blue;
    position: absolute;
  }

  input {
    opacity: 0;
    position: relative;
    z-index: 1;
    width: 110px;
  }
}

.search-input {
  background: $search-color;
  border: none;
  padding: 4px 4px 4px 28px;

  font-weight: lighter;

  background-image: url("/images/ic-search-grey.svg");
  background-repeat: no-repeat;
  background-position: 4px;
}

input:focus {
    outline: 0;

  &::placeholder {
    opacity: 0;
  }
}
