.input-wrapper {
  border: 1px solid lightgray;
  margin-bottom: 16px;
  border-radius: 5px;
  padding: 10px;

  label {
    color: slategray;
  }

  .el-select {
    width: 100%;
  }

  input {
    border: none;
    width: 100%;
    background: transparent;
    font-size: large;   
    padding: 0;

    &:focus {
      outline: 0;
    }

    &::placeholder {
      color: lightgray;
    }
  }
}

.upload-tip {    
  margin-left: 5px;
  color: slategray;
  font-size: smaller;
  font-style: italic;
  font-weight: lighter;
}