@mixin project-list-row {
  .summary {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    &-col- {
      &1, &2, &3, &4 {
        flex-basis: 25%;
      }

      &2, &3, &4 {
        text-transform: uppercase;
        font-size: smaller;
        color: $placeholder-dark-gray;
      }

      &4 {
        display: flex;
        width: 100%;
        justify-content: flex-end;
      }
    }
  }
}

.project-list {
    padding: 20px;


    .el-collapse {
      border: none;
      margin-top: 40px;
    }

    .el-collapse-item__header {
      border-bottom: none;
      height: initial;
      line-height: normal;
      padding: 10px 15px;

      display: flex;
      width: 100%;
      align-items: center;
      justify-content: flex-start;

      @include project-list-row

      .summary-col-1 {
        font-size: medium;
      }
    } 

    .el-collapse-item {
      margin: 10px 0px;
    
      &__wrap {
        border-bottom: none;
      }

      &__content {
        padding: 0px;
        border-width: 3px 40px 6px 40px;
        border-style: solid;
        border-color: $main-bg-color;
      }
    }  
}

.project-item {
  &__language, .add-language {
    padding: 0px 20px;
    border: 3px solid $main-bg-color;

    a {
      color: black;

    }

    &:hover{
      background: $hover-color;
       a {
        text-decoration: none;
      }
    }
  }

  @include project-list-row

  .summary-col-1 {
    text-transform: uppercase;
    color: $icon-blue;
    font-size: small;
  }

  .add-language {
    background: $add-lang-bg-color;
   
    #dialogVisable {
      display: flex;
      width: 100%;
      justify-content: center;
    }
  }
}

.top-table-panel {
  width: 100%;
  background: white;
  padding: 10px 16px;
  box-shadow: 2px 2px 15px $placeholder-light-gray;
  margin-bottom: 15px;

  display: flex;
  align-items: center;
}
