.reverso-dialog {
  line-height: normal;
  text-align: initial;

  .el-dialog--tiny {
    width: 470px;
  }

  .el-dialog__header {
    text-transform: uppercase;
    color: $label-gray;
    font-size: small;
    margin: 12px 0px 10px 10px;

    div {
    display: flex;
    align-items: center;
    }
  }

  .el-dialog__body {
    padding: 25px 16px;
  }

  .dialog-footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .no-border {
    border: none;

    .el-checkbox-group {
      display: flex;
      width: 100%;
      justify-content: space-around;
      margin-top: 15px;
    }

    span {
      border: none;
      border-left: none !important;
    }
  }
}