<h2>Show Project</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @project.title %>
  </li>

  <li>
    <strong>Platform:</strong>
    <%= @project.platform %>
  </li>

</ul>

<span><%= link "Edit", to: project_path(@conn, :edit, @project) %></span>
<span><%= link "Back", to: project_path(@conn, :index) %></span>
