.add_sth_btn {
	border: none;
	background: transparent;
	color: blue;
}

.green-btn,
.transparent-btn,
.white-btn,
.purple-btn {
	color: #ffffff;
	font-weight: 153;
	font-size: 13px;
}

.green-btn {
	background: #38c885 !important;
}

.transparent-btn {
	background: transparent !important;
}

.white-btn {
	color: #e7e7e7;
	background: #fff !important;
	border: 1px solid #e7e7e7;
	border-radius: 3px;
}
.purple-btn {
	background: #5861e6 !important;
}

::input-placeholder {
	color: #bbb;
	opacity: 1;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px $main-bg-color inset;
}