@mixin hover-change {
	.el-menu--horizontal.el-menu--dark .el-submenu__title:hover {
		background-color: transparent;
	}
	.el-menu--horizontal.el-menu--dark .el-menu-item:hover{
		background-color: rgba(4, 10, 66, 0.05);
	}
	
}

.el-menu {
	background: $menu-color;

	.reverso-logo {
		margin: 16px 10px;
	}

	.el-submenu {		
		float: right;
		padding-left: 80px;
		margin-right: 20px; 

		.el-menu-item {
			margin: 8px;

			img {
				margin-right: 10px;
			}

			&nth_child(2){
				color: $error-color;
			}
		}
	}
}

#nav-panel {
	@include hover-change
}