.translationSideBar {
  $shownSidebarWidth: 250px;
  $hiddenSidebarWidth: 50px;
  $leftMargin: 0.05*$shownSidebarWidth;
  $buttonWidth: 50px;

  & {
    height: calc(100vh - 60px);
    background: #ffffff;
    border-right: 1px solid $border-gray;

    font-size: small;
    color: $text-grey;
  }

  &__shown {
    width: $shownSidebarWidth;
  }

  &__hidden {
    width: $hiddenSidebarWidth;
  }

  &__title {
    display: inline-block;
    margin: 18px 0 0 $leftMargin;
    width: 140px;    
    text-transform: uppercase;
    color: $label-gray;
    font-size: small;    
  }

  &__showHideButton {
    width: $buttonWidth;
    height: 32px;
    margin-top: 7px;

    text-align: center;
    background: transparent;
    border: 0;
    float: right;
    box-shadow: none;
  }

  &__showHideButton:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  &__line {
    color: $text-grey;
    border-color: $border-gray;
    width: 0.9 * $shownSidebarWidth;
    clear: both;
    margin: 15px auto;
  }

  &__fullLine {
    color: $text-grey;
    border-color: $border-gray;
    width: 100%;
    clear: both;
    margin: 30px auto;
  }

  p {
    margin-left: $leftMargin;
  }

  &__infos {
    margin-bottom: 5px;
    p {
      margin-bottom: 0px;
    }
  }

  &__titleFull {
    display: block;
    width: $shownSidebarWidth;    
    text-transform: uppercase;
    color: $label-gray;
    font-size: small;    
  }

  .el-progress-bar {
    display: block;
    margin: 10px auto 15px auto;
    width: 90%;
  }

  .el-progress-bar__innerText {
    display: none;
  }

  &__date {
    color: $purple;
  }

  &__uploadButton {
    &, &:link, &:visited, &:hover, &:active { 
      font-size: 11px;
      font-weight: 400;
      text-transform: uppercase;
      text-decoration: none;
      color: $purple;
      cursor: pointer;

      display: inline-block;
      padding: 5px 5px 2px 5px;
      margin: 14px 6px 0 7px;  
    }  
  }

  &__filesSupported {
    font-size: 11px;
    font-style: italic;
    color: $label-gray;
    margin: 0 $leftMargin;    
  }

  &__deleteLang {
    &, &:link, &:visited, &:hover, &:active {
      display: inline-block;
      margin: 6px 0 6px 16px;

      font-size: 11px;
      font-weight: 500;
      text-decoration: none;
      text-transform: uppercase;
      color: #FF2B4E;
    }
  }

  &__bakcToProjectListWrapp {
    display: block;
    text-align: center;
    margin-top: 20px;
  }

  &__backToProjectList {
    &, &:link, &:visited, &:hover, &:active {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 700;
      color: $purple;
    }
  }

}