<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Reverso.co</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body style="background-color: #F7F9FA;">
      <ul class="top-menu">
        <li class="top-menu-el">
          <%= link "Reverso.co", to: page_path(@conn, :index) %>
        </li>
        <!-- <li class="top-menu-l">
          <%= link "upgrade plan", to: page_path(@conn, :index) %>
        </li>
        <li class="top-menu-l">
          <%= link "notifications", to: page_path(@conn, :index) %>
        </li> -->
        <li class="top-menu-el" style="float: right;">
          <%= link "user", to: page_path(@conn, :index) %>
        </li>
      </ul>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
