<html>
  <head>
    <link rel="stylesheet" href="<%= static_url(Reverso.Web.Endpoint, "/css/email.css") %>">
  </head>
  <body>
    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>
  </body>
</html>
