$main-bg-color: #f7f9fa;
$menu-color: #040a42;

$hover-color: #E7E9FB;
$table-even-row: #FCFCFF;

$error-color: #fe3c5b;
$primary-btn-color: #38c885;
$add-lang-bg-color: #F5F6FF;
$icon-blue: #5F69EF;

$border-gray: #EBEBF1;
$placeholder-light-gray: #D0D0D4;
$placeholder-dark-gray: #9C9D9E;
$label-gray: #969AA7; //+hints

$text-grey: #5E5F60;
$purple: #5861E6;

