/* This file is for your main application css. */



#menu table {
	background:  #040a42; 

}

#menu th {

    color: white;
    background:  #040a42;
    padding: 14px 16px;
}

#menu th a {

    color: white;
    /*background:  #040a42;
    padding: 14px 16px;*/
}