<p style="text-align: center;margin: auto">
    Click <strong>password reset button</strong> below to reset password<br>
    <%= link("Reset password!", to: @password_reset_adress, target: "_blank")%>
</p>
